* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}    
.content {
    display: flex;
     flex-wrap: nowrap; 
}
.blue {
  
    width: 70%;
    height:130vh;
    margin-left: 10px;
    background-color: rgb(5, 5, 44);
    z-index: 1;
    

}
.red {
    
    width: 28%;
    margin-right: 10px;
    height: 130vh;
    background-color: rgb(209, 33, 33);
    z-index: -1;
 
}
a {
    color: white;
    text-transform: uppercase;
 
    padding: 20px;
}
.blue nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3vh;
    justify-content: space-around;
    align-items: first baseline;
    align-content: last baseline;
   
  }
  a.active,a:hover {
    background-color: red;
  }
  .red nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vh;

  }
  .red a{
    font-size: 12px;
    padding: 20px;
  }
  .red a:hover{
    background-color: white;
    color: black;
  }

.main .submain {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.submain h1,p{
    margin-left: 15vh;
    margin-top: 20%;
}
h1{
    font-size: 100px;
}
p {
    margin-top: 0;
}
.content.image {
    display: flex;
    justify-content: flex-end;
    left: 20px;
}
.image{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60%;
    margin-top:-50% ;
}
@media screen and (max-width:940px) {
    
    
    .blue nav ul li{
        display: block;
        padding: auto;
        margin-top: 5vh;
    }
    .image{
        max-width: 300px;
        margin-left: auto;
        margin-top: auto;
    }
    .red {
        flex-wrap: nowrap;
    }
    .submain{
        font-size: 10px;
    }
    h1 {
        font-size: 500%;
    }
}
@media screen and (max-width:600px) {
    .image {
        max-width: 150px;
        margin-left: auto;
        margin-top: auto;
      }
}